---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
My teaching experience includes the head tutor role for the UNSW Computational Fluid Dynamics course (MECH4620) for both undergraduate and post-graduate students. Additional to this I like to help out and participate in forums for the various fields in which I either want to elarn more, or possess some knowledge in such as CFD, neutronics, and programming.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
